.fw {
    display: flex;
    flex-wrap: wrap;
    color: #4b566b;
    font-weight: 300;
    .fc {
      width: 100%;
      line-height: 1.5;
      padding-right: 10px;
      h2 {
        margin-bottom: 20px;
      }
      h5 {
        font-weight: 300;
        word-wrap: break-word;
      }
      .mi{
        white-space: nowrap;
        img {
            margin-top: 30px;
            width: 120px;
          }
          :first-child {
            margin-right: 15px;
          }
      }
    }
    @media (min-width: 730px) {
      .fc {
        width: 50%;
      }
    }
    
    @media (min-width: 1264px) {
      .fc {
        width: 25%;
        img{
          width: 50%;
        }
      }
    }
  
    .cr {
      font-size: inherit;
      color: inherit;
      display: block;
      margin-bottom: 12px;
      .fl {
        width: 48px;
        height: 48px;
      }
    }
    
    
  
    button {
      white-space: nowrap;
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      position: relative;
      margin-right: 5px;
      margin-top: 30px;
      div {
        width: 32px;
        height: 32px;
        color: white;
        background-color: #0f3460;
        border-radius: 50%;
        box-sizing: border-box;
        box-shadow: -1px 1px 6px 0px #0f3460;
        padding-top: 5px;
      }
    }
  }